
.vs/basic-git-63/v16/.suo
.vs/slnx.sqlite
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.dgspec.json
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.g.props
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.g.targets
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.assets.cache
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.csproj.AssemblyReference.cache
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.GeneratedMSBuildEditorConfig.editorconfig
BasicGit/BasicGit/obj/project.assets.json
BasicGit/BasicGit/obj/project.nuget.cache
BasicGit/BasicGit/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BasicGit/BasicGit/obj/Release/netcoreapp3.1/BasicGit.AssemblyInfo.cs
BasicGit/BasicGit/obj/Release/netcoreapp3.1/BasicGit.AssemblyInfoInputs.cache
BasicGit/BasicGit/obj/Release/netcoreapp3.1/BasicGit.assets.cache
BasicGit/BasicGit/obj/Release/netcoreapp3.1/BasicGit.GeneratedMSBuildEditorConfig.editorconfig
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.dgspec.json
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.g.props
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.g.targets
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.assets.cache
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.csproj.AssemblyReference.cache
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.GeneratedMSBuildEditorConfig.editorconfig
BasicGit/BasicGit/obj/project.assets.json
BasicGit/BasicGit/obj/project.nuget.cache
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.dgspec.json
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.g.props
BasicGit/BasicGit/obj/BasicGit.csproj.nuget.g.targets
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.assets.cache
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.csproj.AssemblyReference.cache
BasicGit/BasicGit/obj/Debug/netcoreapp3.1/BasicGit.GeneratedMSBuildEditorConfig.editorconfig
BasicGit/BasicGit/obj/project.assets.json
BasicGit/BasicGit/obj/project.nuget.cache
